PyMuPDF
sentence-transformers
transformers
torch
flask
faiss-cpu
pypdf
# LangChain Correct Versions
langchain
langchain-community
langchain-pinecone
langchain-groq    

pinecone-client

# Groq SDK
groq


# Image Processing
Pillow

# Web/App
gradio
fastapi
uvicorn

# Utility
python-dotenv
requests
langchain-astradb

