PyMuPDF
sentence-transformers
flask
faiss-cpu
pypdf
# LangChain Correct Versions
langchain
langchain-community
langchain-core
langchain-groq    

pinecone-client

# Groq SDK
groq




# Web/App
fastapi
uvicorn

# Utility
python-dotenv
requests
langchain-astradb
